coverage.*
*.coverage
/htmlcoc/
youwol_data/**/*
!youwol_data/yw_config.py
!youwol_data/databases.zip
!youwol_data/users-info.json
!youwol_data/remotes-info.json
!youwol_data/__init__.py
youwol.egg-info
*.pyc
workspace/**
build/
dist/
dist_history/
tooling/test_install/**/*
!test_install/README.md

.virtual_envs
.venv*
.publish_venv
__pycache__
/.idea/
/*.iml
