fastapi==0.65.1
uvicorn==0.13.4
python-multipart==0.0.5
aiohttp==3.7.4.post0
async==0.6.2
websockets==9.0.2
watchgod==0.7
aiofiles==0.7.0
async_generator==1.10
brotlipy==0.7.0
Pillow==8.2.0
cowpy==1.1.0
advancedHtmlParser