# Direct dependencies
aiohttp==3.8.1
appdirs==1.4.4
async-generator==1.10
Brotli==1.0.9
colorama==0.4.4
cowpy==1.1.4
fastapi==0.70.1
Pillow==8.4.0
python-multipart==0.0.5
uvicorn==0.16.0
watchgod==0.7
websockets==10.1

# Frozen indirect dependencies
aiosignal==1.2.0
anyio==3.4.0
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.3.0
charset-normalizer==2.0.9
click==8.0.3
frozenlist==1.2.0
h11==0.12.0
idna==3.3
multidict==5.2.0
pydantic==1.8.2
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
typing_extensions==4.0.1
yarl==1.7.2
