
#wf-builder-view-drawing-area{
    height:100%;
    width:100%
}
rect.workspace-background{    
    fill:#e0e0e0
}
rect.workspace-background.child-layer{    
    fill:#7d7e7e
}
rect.module.content{    
    fill:rgb(100, 100, 100);
    stroke:black;
    stroke-width:2;
    transition: fill 0.3s;
    rx:10px;
    ry:10px
}

.fill-none{
    fill:none
}

.active-layer.title{
    stroke:white;
    fill:white;
    stroke-width:1
}
.active-layer.mdle-color-fill.header{
    fill:#4c90ae;
}
.active-layer.content{
    fill:#e0e0e0
}
.active-layer.header.outline{
    fill:none;
    stroke:none;
    stroke-width:4
}
g.active-layer{
    fill:#4c90ae;
    stroke:#4c90ae;
    stroke-width:4
}

rect.module.flow.content{   
    opacity:0
}
g.selected>rect.module.flow.content{   
    opacity:1
}
rect.module.flow.content:hover{  
    opacity:1
}
rect.module.plugin.content{    
    fill:rgb(100, 100, 100);
    stroke:black;
    stroke-width:2;
    transition: fill 0.3s;
    rx:10px;
    ry:10px
}

.description-box.title{
    stroke:white;
    fill:white;
    stroke-width:1
}

g.module>.content{
    transition: stroke 5s,  stroke-width 5s 
}


g.module.error>.content{
    stroke:#ed1f25 !important;
    stroke-width:5px !important;
    opacity:1 !important;
    transition: stroke 1s,  stroke-width 1s 
}
g.module.warning>.content{
    stroke:#edbd1f !important;
    stroke-width:5px !important;
    opacity:1 !important;
    transition: stroke 1s,  stroke-width 1s 
}

.description-box.mdle-color-fill.header{
    fill:#9b6565
}
.description-box.content{
    fill:#7d7e7e
}
.description-box.header.outline{
    stroke:#ed1f25;
    stroke-width:4
}
g.description-box{
    fill:#9b6565;
    stroke:#ed1f25;
    stroke-width:4
}
g.description-box:hover>rect{     
    fill:rgb(150, 150, 150);
    stroke:black;
    stroke-width: 2px;
}
g.description-box.selected>rect{
    fill:rgb(182, 227, 253);
    stroke:black;
    stroke-width: 3px;
}




g.module.content.icon{    
    fill:white;
    stroke:white
}
g.module.content.icon path{    
    fill:white;
    stroke:white
}
path.module.header{
    text-anchor : left;
    pointer-events: none;
    user-select: none;
    stroke-width:0;
    font-size:14px
}
path.module.header.outline{
    stroke: black;
    stroke-width:2;
    fill:none
}

.module.header.title{
    text-anchor : left;
    pointer-events: none;
    user-select: none;
    stroke: white;
    font-size:14px
}

g.entity.module>rect:hover{    
    fill:rgb(150, 150, 150);
    stroke:black;
    stroke-width:1;
}
g.module.header-action circle{
    fill:white
}
g.module.header-action path{
    fill:black
}

g.module.header-action:hover circle{
    fill:rgb(150, 150, 150);
}
g.module.header-action:hover path{
    fill:black
}
text.module.header.title{
    font-family: cursive;
    fill:white;
    font-size: medium;
}

.rectangle-selector{
    fill:rgba(182, 227, 253,0.2);
    stroke:black;
    stroke-dasharray: 1%;
}
.rectangle-group-selector{
    fill:rgba(130, 207, 252, 0.2);
}
.module-title{
    text-anchor : middle;
    pointer-events: none;
    user-select: none;
}
g.plugin>rect{
    fill: white;
    stroke:black;
    stroke-width:1;
    transition: fill 0.3s
}
g.plugin>rect:hover{    
    fill: rgb(182, 227, 253);
    stroke:black;
    stroke-width:1;
}

g.plugin.highlighted>rect{    
    fill: rgb(182, 227, 253);
    stroke:black;
    stroke-width:1;
}

g.plugin.selected>rect{   
    fill: rgb(111, 201, 253);
    stroke:black;
    stroke-width:1;
}

g.entity.module.highlighted>rect{    
    fill: rgb(182, 227, 253);
    stroke:black;
    stroke-width:1;
}

g.entity.module.selected>rect{   
    fill: rgb(111, 201, 253);
    stroke:black;
    stroke-width:1;
}
.plug{
    stroke:black;
    stroke-width: 4;
}

.slot{
    r:6px;
    fill:rgb(21, 57, 103);
    stroke-width: 0px;
    transition: r 1s;
}
.slot:hover{
    fill:rgb(52, 137, 248)!important;
    opacity:1;
    r:10px
}

g.plug>circle{
    r:3px;
    fill:rgba(52, 137, 248,0);
    stroke-width: 0px;
    transition: r 1s;
}
g.plug.focus>circle{
    fill:rgb(248, 202, 52);
    opacity:1;
    r:5px
}

g.plug>circle:hover{
    fill:rgb(52, 137, 248);
    opacity:1;
    r:5px
}
line.drawing-connection{
    stroke:black;
    stroke-dasharray: 4 
}

g.connection {
    
    stroke:rgb(21, 57, 103);
    fill: rgb(21, 57, 103);
    stroke-width:4;
    stroke-linecap:"round" !important;
    transition: stroke 0.3s fill 0.3s opacity 0.3s
}
.connection-path{
    fill:none;
    stroke:rgb(21, 57, 103);
}
.connection-path.selected{
    fill:none;
    stroke:rgb(52, 137, 248);
}
g.connection.wireless.selected {
    visibility: visible
}
g.connection.wireless {
    visibility: hidden
}
g.connection.wireless:hover{
    visibility: visible
}
g#wireless-slots{
    stroke:rgb(21, 57, 103);
    fill: rgb(21, 57, 103);
    stroke-width:4;
}

g.connection:hover {    
    fill:rgb(16, 45, 82);
    stroke:rgb(16, 45, 82);
    stroke-width:5;
}

g.connection.selected line{
    
    stroke:rgb(2, 158, 248)!important;
}
g.connection.selected path{
    
    stroke:rgb(2, 158, 248)!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.CodeMirror { height: 100% !important; }

.grapes-bg-color{
    background-color: #444;
}

#loading-screen{
    top:0px;
    left:0px;
    position: absolute ;
    z-index: 10;
    height:100vh;
    width:100vw;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

#notifications-container{
    border-radius: 0.25em;
    position: absolute;
    width: 300px;
    top:50px;
    margin:10px;
    max-height:80vh;
    overflow-y: auto;
    font-size: small;
    z-index:100;
    background-color: rgba(54,55,55,0.7);
}


/*
Scroll Bar Definition
*/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}
/* End Scroll bar*/


.collapsed > #panel__layout-managers-actions > #panel__render-panels-actions{
    display: none!important;
}
.collapsed > #panel__layout-managers-actions > #panel__render-panels-actions{
    display: none!important;
}
.panels-container{
    display: block
}
.panels-container.collapsed{
    display: none
}



#editor-container{
    display: flex;
    flex-direction: column;
    height:100%
  }
  
.gjs-cv-canvas {
    top: 0px !important;
    height: 100% !important;
    width: 100%  !important;
}

#gjs{
    flex:auto;
}




/*# sourceMappingURL=style.1907218347a050a99ac8.css.map*/