<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{{application_name}}</title>

    <base href="/applications/{{application_name}}/0.1.0-wip/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="src/style.css" crossorigin="anonymous" />

    <script
      id="webpm-client"
      src="/api/assets-gateway/cdn-backend/resources/QHlvdXdvbC93ZWJwbS1jbGllbnQ=/^3.0.0/dist/@youwol/webpm-client.js"
    ></script>
  </head>

  <body class="w-100 h-100 mx-auto">
    <script type="module" src="src/script.js"></script>
  </body>
</html>
