<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Hello</title>

  <base href='<%= htmlWebpackPlugin.options.baseHref%>' />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script id="cdn-client" src="/api/assets-gateway/raw/package/QHlvdXdvbC9jZG4tY2xpZW50/1.x/dist/@youwol/cdn-client.js">
  </script>
   <!--The following import is actually replaced at build time to insert hash in the name (for caching)
      See file webpack.config.js and plugin MiniCssExtractPlugin
      <link rel="stylesheet" href="style.css" id='css-anchor'> -->
</head>

<body class="vh-100 fv-bg-background">

  <div id="content" style="height:100vh;overflow-x: hidden;overflow-y: auto;">
    </div>

</body>
</html>
